{% extends 'base.html' %}

{% block menu %}

<h1 class="texto">Experiência</h1>
<p class="texto" style="font-size: 20px;">
  Uma vez eu trabalhei em uma loja de roupas como vendedor.
  </br>Minha principal responsabilidade
  </br>era ajudar os clientes a encontrar roupas
  </br>que se adequassem ao seu estilo e tamanho.
  </br>Eu aprendi a importância de
  </br>ser cortês e atencioso com os clientes,
  </br>escutar suas necessidades e ajudá-los a
  </br>encontrar o que eles estavam procurando.
  </br>Além disso, eu também aprendi
  </br>a ser organizado e manter a loja limpa e
  </br>arrumada para garantir uma boa experiência de
  </br>compra para os clientes. No final das contas,
  </br>essa experiência me ensinou muito sobre o
  </br>atendimento ao cliente e me ajudou a desenvolver
  </br>minhas habilidades de comunicação e organização.
</p>

{% endblock %}