{% extends 'base.html' %}

{% block menu %}

<h1 class="texto">Sobre Mim</h1>
<p class="texto" style="font-size: 20px;">
  Meu nome é Amanda e eu sou tecnica em Redes de Computadores e atualmente
  </br>estou cursando o 5º período do bacharel em Sistemas de Informação.
  </br>A tecnologia sempre me atraiu desde pequena, o que me levou a
  </br>tentar seguir na àrea.

  </br>Além disso, eu gosto de de ler e praticar alguns esportes.
  </br>Estou animado para continuar aprendendo e crescendo em minha
  </br>carreira e vida pessoal, e estou aberto a novas
  </br>oportunidades e desafios que possam surgir.
</p>

{% endblock %}